.btn-p1mb {
  position: relative;
  margin-top: -20px !important;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #003da5;
  box-shadow: 0px 6px 24px 0px rgba(3, 0, 78, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #ffff;
}

.btn-p1mb:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ffff;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.btn-p1mb:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.btn-p1mb span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.btn-p1mb:hover span {
  color: #003da5 !important;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
