.slider-container {
  text-align: center;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.3s ease;
  margin: auto;
}

.image:hover {
  transform: scale(1.1); /* Kích thước tăng lên khi hover */
}

.slide-item {
  position: relative;
  display: inline-block;
  margin: 5px;
  overflow: hidden; /* Ẩn phần ngoài của overlay */
  text-align: center; /* Căn chỉnh ảnh giữa */
}

.overlay {
  position: absolute;
  top: 0;
  left: 28% !important;
  width: 39% !important;
  height: 85% !important;
  background-color: rgba(36, 10, 207, 0.7);
  color: white;
  padding: 10px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 99;
}

.slide-item:hover .overlay {
  opacity: 1.1;
}
.btn-p2 {
  margin: 150px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #f9f9fa;
  box-shadow: 0px 6px 24px 0px rgba(3, 0, 78, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #0c008e33;
}

.btn-p2:after {
  width: 0%;
  height: 100%;
  background: #0e00a6;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.btn-p2:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.btn-p2 span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 0.7em 1em;
  color: #fff;
  font-size: 1;
  font-weight: 700;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.btn-p2:hover span {
  color: #ffff !important;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
